<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Present simple vs.present continuous</div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
    <style>
.card {
    width: 250px;
    height: 250px;
    margin: 5px;
    background-color: #00594F;
    color: #ffffff;
    transition: 0.5s ease-in-out;
    font-family: Alegreya Sans;
  }
.header-front {
    width: inherit;
    height: 40px;
    text-align: center;
    font-size: 18px;
  }
.author{
    width: inherit;
    height: 20px;
    text-align: center;
    line-height: 3;
    font-size: 16px;
    font-family: Alegreya Sans;
  }
 
.image-front {
    width: inherit;
    height: 150px;
    cursor: pointer;
}
.im-content {
    width: 250px;
    height: 150px;
}
</style>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Present simple vs.present continuous</div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front"> Past simple vs.past continuous </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Present perfect simple and past simple </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front"> Present perfect simple/present perfect continuous</div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front"> Expressing the future</div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front"> Passive</div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">First and second conditional</div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Third conditional </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Used to vs. be used to </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Wish clauses</div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front"> Passive 2 </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Direct speech vs. reported speech </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Modal verbs </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Countability/uncountability </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front"> Articles</div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Verb patterns 1</div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Verb patterns 2</div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Relative clauses </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">-ed or -ing </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front"> Linking words </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Prepositions (place and time) </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Adjective prepositions </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Noun prepositions</div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Verb prepositions</div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>
<template class = "tem3">
    <div class = "card">
        <div class = "image-front">
            <img style = "width: 250px; height: 150px;" src = "https://raw.githubusercontent.com/freelancer2020/SpeakUp/master/contents/englishTime.jpeg">
        </div>
        <div class = "header-front">Phrasal verbs </div>
        <div class = "author">Author: Amir Youssef</div>
    </div>
</template>

